html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
}


/* below are old codes */
.wrapper {
  display: flex;
  flex-direction: row;
}

.left {
  width: 40vw;
  height: 100vh;
  background-image: url(bg.jpg);
  color: white;
}

